* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

header {
  background-color: #0693e3;
  text-align: center;
  padding: 4rem;
  background-image: url(https://images.unsplash.com/photo-1590274853856-f22d5ee3d228?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-size: cover;
}

h1 {
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  line-height: 1.6;
}

p {
  font-size: 1.3rem;
  line-height: 1.3;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
  gap: 1rem;
}
.goal-section {
  background-color: #fff;
  width: 30rem;
  box-shadow: 0 2rem 4rem 1rem rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.goal-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.target-text {
  padding: 1rem;
  display: none;
  line-height: 1.6rem;
}

ul li {
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 1.4;
  transition: all 0.3 ease;
}

.btn-open {
  display: block;
  background-color: #fff;
  margin: 1rem;
}

.btn-close {
  display: none;
  background-color: #fff;
  margin: 1rem;
}
.show-text {
  display: block;
  transition: all 0.5s ease-out;
}
